html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto",
  "Helvetica",
  "Arial",
  sans-serif;
}
.capitalize{
  text-transform: capitalize;
}
.roboto{
  font-size: 1.2rem;
  font-weight: 400;
}
.mr-1{
  margin-right:1.4rem;
}
.mb-1{
  margin-bottom: 1rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}

.mt-19{
  margin-top: 56px;
}
a,.icon {
  color: #6618A8;
}

* {
  box-sizing: border-box;
}
.header {
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.7rem;
}
.cursor {
  cursor: pointer !important;
}
.flex-even{
  justify-content: space-evenly;
}
li {
  text-decoration: none;
  list-style: none;
}
.flex-row {
  display: flex;
}
.mt-20 {
  margin-top: 75px !important;
}
.flex-between{
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  @extend .flex-row;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.container {
  min-height:100vh;
}


p,h1,h2,ul {
  padding: 0!important;
  margin: 0!important;
  color: inherit;
  font-weight: inherit;
}
.MuiCollapse-wrapper{
  justify-content: flex-end;
  margin:10px;
}
.MuiCollapse-wrapperInner{
  width:auto !important;
}

input::placeholder {
  font-size:12px;
  font-weight:300;
}

.custom,button,a {
  font-family: 'Roboto Slab', sans-serif;
}

.f-300 {
  font-weight: 300;
}

.f-500 {
  font-weight: 500;
}

.success {
  color: #0AE77B !important;
}
.z {
  z-index: 100000000 !important;
  position:absolute;
  right:0;
}

.mr {
  margin-left: 65px !important;
  @media screen and (max-width: 750px) and (orientation:portrait){
    margin-left: 1rem !important;
  }

}